body {
    min-width: 400px;
    margin: 0;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #5f9341;
}

button {
    background-color: #5f9341;
    color: white;
    padding: 10px 20px;
    border: 1px solid #5f9341;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 4px;
}

#delete-btn{
    background: red;
    border: 1px solid red;
    color: white;
}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0px;
}

li {
    margin-top: 5px;
}

li a {
    color: #5f9341;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}